* {
    margin: 0px;
    padding: 0;
}

.carousel-caption h5 {
    color: yellow;
    font-family: Teko;
    font-size: 50px;
    font-weight: bold;
}

.carousel-caption p {
    color: beige;
    font-family: Roboto;
    font-size: 25px;
}