/* contenedor slider */

.contenido-slider {
    /*max-width: 900px;*/
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width: 400%;
    height: 400px;
    /*margin-left: -100%;*/
}

.slider-section {
    width: 100%;
}

.slider-img {
    display: flexbox;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background: white;
}

.slider__btn--izquierda {
    left: 10px;
}

.slider__btn--derecha {
    right: 10px;
}