/*Contenido principal*/

.main-content {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.texto {
    margin: 0 auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.texto h2 {
    color: #961607;
    font-size: 35px;
    text-align: center;
}

.texto p {
    padding-left: 5%;
}