/*Contenido principal*/

.contenido-contacto {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
}

.texto {
    margin: 0 auto;
    width: 100%;
}

.texto h2 {
    color: #961607;
    font-size: 35px;
    text-align: center;
}

.texto p {
    padding-left: 5%;
    padding-top: 2%;
}

.contenedor-formulario {}

.formulario {
    box-shadow: 1px solid black;
}


/*Para ocultar el campo correspondiente*/

.hidden {
    display: none;
}


/*Para mostrar el campo correspondiente*/

.shown {
    display: block;
}


/*Footer*/

#contacto {
    margin-top: 100px;
    position: absolute;
}