/*Contenido principal*/
.main-content {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Animales de Argentina en peligro de extinción*/
.main-content h2 {
    width: 50%;
    color: #961607;
    margin-left: 3%;
    font-size: 35px;
}

/*Tablita con listado de los animales*/
.indice {
    width: 23%;
    float: right;
    margin-left: 25px;
    margin-right: 10px;
    border: 1px solid black;
    background-color: #cdcdcd;
}

/*Titulo "Lista de animales"*/
.indice h4 {
    text-align: center;
}

/*----Cambio de color de links----*/
.indice a:link,
.indice a:visited,
.indice a:active {
    color: #b44e12;
}

/*Cambio de color cuando se pasa el mouse por el link*/
.indice a:hover {
    color: #961607;
    text-decoration:underline; /*Se subraya cuando se pasa el mouse por encima*/
}

/*Links sin subrayado*/
.indice a {
    text-decoration: none;
}

/*Contenido: imagenes y descripciones*/
.contenido {
    width: 70%;
    margin-left: 2.5%;
    float: left;
}

.animal-description {
    width: 100%;
}

/*Imagenes de los animales*/
.animal-description img {
    width: 680px;
    height: 390px;
    margin-right: 2%;
}

/*Alineacion del texto en las descripciones de los animales y el contenido en si, interlineado y tamaño de fuente*/
.animal-description, .contenido {
    line-height: 25px;
    font-size: 16px;
}
