/*Contenido principal*/
.main-content {
    margin: 0 auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Animales de Argentina en peligro de extinción*/
.info-animals h2 {
    width: 50%;
    color: #961607;
    margin-left: 35px;
    font-size: 35px;
}

/*Tablita con listado de los animales*/
.indice {
    width: 23%;
    float: right;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid black;
    background-color: #cdcdcd;
}

/*Titulo "Lista de animales"*/
.indice h4 {
    text-align: center;
}

/*----Cambio de color de links----*/
.indice a:link,
.indice a:active {
    color: #961607;
}

/*Link visitado*/
.indice a:visited {
    color: #b44e12;
}

/*Cambio de color cuando se pasa el mouse por el link*/
.indice a:hover {
    color: #da7c45;
    text-decoration:underline;
}

/*Links sin subrayado*/
.indice a {
    text-decoration: none;
}

/*Contenido: imagenes y descripciones*/
.contenido {
    width: 70%;
    margin-left: 23px;
    float: left;
}

/*Imagenes de los animales*/
.animal-description img {
    width: 670;
    height: 390;
    margin-right: 40px;
}

/*Alineacion del texto en las descripciones de los animales y el contenido en si, interlineado y tamaño de fuente*/
.animal-description, .contenido {
    text-align: justify;
    line-height: 25px;
    font-size: 16px;
}
