@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap%27');
html,
body {
    margin: 0 auto;
    background-color: #e7e7e7;
    color: #1E1E24;
    scroll-behavior: smooth;  /*scrollea hasta el hipervinculo seleccionado*/
}

/*Vida Animal*/
.titulo {
    position: relative;
    z-index: 2; /*Establezco un z-index para que arrastre por encima de la img el titulo*/
    font-family: 'Sigmar One', cursive;  
    text-align: center;
    width: 100%;
    color: rgb(37, 151, 37);
    font-size: 35px;
}

header {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);  /*sombreado abajo del menu*/
}

/*Realizo un posicionamiento absoluto de la etiqueta img y la estiro para que llene la barra de navegacion
por completo. Y posiciono relativamente todo lo dem치s para poder establecer un z-index que lo arrastre por 
encima de img.*/
header img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.8;
}

header li {
    position: relative;
    display: inline;
    font-size: 15px;
    background-color: beige;
}

header a {
    position: relative;
    text-decoration: none;
    font-family: 'Sigmar One', cursive;  
}

/*Cambio de color de los links*/
header a:link,
header a:visited,
header a:active {
    color: #b44e12;
}
header a:hover {
    background-color:#f1894d;
    border-bottom: 15px;
}

/*Barra de navegaci칩n*/
.bar-nav {
    float: left;
    width: 100%;
    height: 40px;
}

/*Contenido del menu*/
.menu-container {
    width: 100%;
    text-align: center;
}

/*Menu*/
.menu{
    display: flex;
    flex-wrap: nowrap;
}

/*Incio*/
.first-element {
    display: inline;
    padding: 0px 60px 0 60px;
}

/*Nosotros, Animales, Proyectos, C칩mo ayudar, Contacto*/
.element {
    display: inline;
    padding: 0px 60px 0 60px;
    border-left: 1px solid black;
}

/* ------Copyright------*/
#copyright {
    overflow: hidden;
    padding: 8px 8px;
    position: relative;

    display: block;
    float: right;
    width: 100%;
    margin: 25px 0 0 0;
    padding: 20px 0 0 0;
    font-size: 15px;
}

#copyright p {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: 70px;
    color: beige;
}

/*Realizo un posicionamiento absoluto de la etiqueta img y la estiro para que llene el contenedor 
por completo. Y posiciono relativamente todo lo dem치s*/
#copyright img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.8;
}



