@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap%27');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #e7e7e7;
    color: black;
    scroll-behavior: smooth;
    /*scrollea hasta el hipervinculo seleccionado*/
}


/*
.titulo {
    font-family: 'Sigmar One', cursive;  
    float: left;
    width: 40%;
    color: #259725;
    font-size: 25px;
    text-align: right;
}

.titulo a:link,
.titulo a:active,
.titulo a:visited {
    color: rgb(37, 151, 37);
    text-decoration: none;
}

.boton-titulo {
    width: 20%;
    height: 50px;
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5%;
    margin-right: 16%;
}

.boton-titulo input {
    width: 100%;
    height: 100%;
    background-color: rgb(37, 151, 37);
    font-size: 20px;
    font-weight: bold;
    color: beige;
}

.boton-titulo:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(37, 151, 37); 
    transition: all 0.2s ease;
}*/


/*Diseño del header con color de fondo y un sombreado abajo*/

.page-name {
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    /*sombreado abajo del menu*/
    background-color: #adc698;
}


/*Imagen titulo*/

.page-name img {
    position: absolute;
    float: left;
    margin-left: 15px;
    /*Lo mueve 15px hacia la derecha*/
    padding-top: 8.5px;
    /*Lo mueve 8.5px hacia abajo*/
}


/*Barra de navegación*/

.bar-nav {
    float: left;
    width: 100%;
    height: 40px;
}


/*Contenido del menu*/

.menu-container {
    width: 100%;
    text-align: center;
    background-color: beige;
}


/*Menu*/

.menu {
    float: right;
    display: flex;
    /*Propiedad que obliga a los hijos a acomodarse y no salirse de la caja*/
    flex-wrap: nowrap;
    /*Los elementos flex son distribuidos en una sola línea*/
}


/*La propiedad flex-wrap de CSS especifica si los elementos "hijos" son obligados a permanecer en una misma línea 
o pueden fluir en varias líneas*/


/*Edicion de los elementos del menu, color de fondo, tamaño de fuente...*/

.page-name li {
    /*display: inline;*/
    font-size: 15px;
    margin-top: 35px;
}


/*Inicio, Nosotros, Animales, Campañas, Cómo ayudar, Contacto*/

.menu li:first-child {
    display: inline;
    /*El elemento genera uno o más cuadros de elemento en línea.*/
    padding: 0px 40px 0 30px;
    border: none;
}

.menu li {
    display: inline;
    /*El elemento genera uno o más cuadros de elemento en línea.*/
    padding: 0px 40px 0 40px;
    border-left: 1px solid black;
    /*Barritas de separacion*/
}


/*Estilo de fuente para los elementos del menu, y sin decoracion al texto*/

.active,
.disabled {
    text-decoration: none;
    font-family: 'Sigmar One', cursive;
}


/*----Cambio de color de los links----*/


/*Link activo*/

.active:link,
.active:visited,
.active:active {
    color: #b44e12;
}


/*Color encima del link*/

.active:hover {
    background-color: #f1894d;
    border-bottom: 15px;
}


/*Link no visitado*/

.disabled:link,
.disabled:visited,
.disabled:active {
    color: #b44e12;
}


/*Color encima del link*/

.disabled:hover {
    background-color: #f1894d;
    border-bottom: 15px;
}

.contenedor-principal {
    margin: 0;
    width: 100%;
    /* width: 100vh;*/
    /*min-height: calc(100vh - 250px);*/
}


/* ------Copyright------*/

#index {
    margin-top: 100px;
    position: absolute;
}

footer {
    overflow: hidden;
    padding: 8px 8px;
    background-color: #adc698;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    text-align: center;
}


/*Iconos de las redes sociales*/

footer i {
    font-size: 25px;
    text-align: center;
    padding: 0px 15px 0px 15px;
}

footer p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 15px;
    margin-right: 70px;
    color: black;
}


/*Es un keyword que indica que el elemento es movido hacia abajo para limpiar tanto elementos flotantes de la izquierda como de la derecha.*/

.clear {
    clear: both;
}