@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap%27');
html,
body {
    margin: 0 auto;
    background-color: #e7e7e7;
    color: black;
    scroll-behavior: smooth;  /*scrollea hasta el hipervinculo seleccionado*/
}

/*Vida Animal*/
.titulo {
    font-family: 'Sigmar One', cursive;  
    float: left;
    width: 40%;
    color: rgb(37, 151, 37);
    font-size: 25px;
    text-align: right;
}

/*Color del link del titulo para redireccionar al inicio*/
.titulo a:link,
.titulo a:active,
.titulo a:visited {
    color: rgb(37, 151, 37);
    text-decoration: none;
}

/*----Boton SÚMATE----*/
.boton-titulo {
    width: 20%;
    height: 50px;
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5%;
    margin-right: 16%;
}

/*Color del boton, tamaño del texto y color de la letra*/
.boton-titulo input {
    width: 100%;
    height: 100%;
    background-color: rgb(37, 151, 37);
    font-size: 20px;
    font-weight: bold;
    color: beige;
}

/*Efecto para el boton cuando se le pasa el mouse*/
.boton-titulo:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(37, 151, 37);  /*Efecto resplandor*/
    transition: all 0.2s ease;
}

/*Diseño del header con color de fondo y un sombreado abajo*/
.page-name {
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);  /*sombreado abajo del menu*/
    background-color: #adc698;
}

/*Imagen titulo*/
.page-name img {
    position: absolute;
    left: 0;
    top: 0;
    height: 77%;
    margin-left: 15px; /*Lo mueve 15px hacia la derecha*/
    padding-top: 8.5px; /*Lo mueve 8.5px hacia abajo*/
}

/*Barra de navegación*/
.bar-nav {
    float: left;
    width: 100%;
    height: 40px;
}

/*Contenido del menu*/
.menu-container {
    width: 100%;
    text-align: center;
    background-color: beige;
}

/*Menu*/
.menu{
    display: flex; /*Propiedad que obliga a los hijos a acomodarse y no salirse de la caja*/
    flex-wrap: nowrap; /*Los elementos flex son distribuidos en una sola línea*/
}
/*La propiedad flex-wrap de CSS especifica si los elementos "hijos" son obligados a permanecer en una misma línea 
o pueden fluir en varias líneas*/

/*Edicion de los elementos del menu, color de fondo, tamaño de fuente...*/
.page-name li {
    /*display: inline;*/
    font-size: 15px;
    background-color: beige;
}

/*Inicio, Nosotros, Animales, Campañas, Cómo ayudar, Contacto*/
.menu li:first-child {
    display: inline; /*El elemento genera uno o más cuadros de elemento en línea.*/
    padding: 0px 60px 0 50px;
    border: none;
}

.menu li {
    display: inline; /*El elemento genera uno o más cuadros de elemento en línea.*/
    padding: 0px 60px 0 60px;
    border-left: 1px solid black; /*Barritas de separacion*/
}

/*Estilo de fuente para los elementos del menu, y sin decoracion al texto*/
.active, .disabled {
    text-decoration: none;
    font-family: 'Sigmar One', cursive;  
}

/*----Cambio de color de los links----*/
/*Link activo*/
.active:link,
.active:visited,
.active:active {
    color: #b44e12;
}

/*Color encima del link*/
.active:hover {
    background-color:#f1894d;
    border-bottom: 15px;
}

/*Link no visitado*/
.disabled:link,
.disabled:visited,
.disabled:active {
    color: #b44e12;
}

/*Color encima del link*/
.disabled:hover {
    background-color:#f1894d;
    border-bottom: 15px;   
}

/* ------Copyright------*/
#copyright {
    overflow: hidden;
    padding: 8px 8px;
    background-color: #adc698;
    display: block;
    float: right;
    width: 100%;
    margin: 25px 0 0 0;
    padding: 20px 0 0 0;
    font-size: 15px;
}

#copyright p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: 70px;
    color: black;
}

/*Es un keyword que indica que el elemento es movido hacia abajo para limpiar tanto elementos flotantes de la izquierda como de la derecha.*/
br.clear {
    clear: both;
}




