* {
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: green;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}